.div_footer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* This ensures the body takes up at least the full viewport height. */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: #333;
    color: #fff;
    position: sticky; /* Set the position to sticky */
    bottom: 0; /* Stick it to the bottom */
    /* padding:  0; */
    flex-shrink: 0; /* Prevents the footer from shrinking. */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1; /* Allows the footer content to grow and push the footer to the bottom. */
}

.footer-section {
    flex-basis: calc(25% - 20px);
    margin-right: 20px;
}

.footer-section:last-child {
    margin-right: 0;
}

/* Animated hover effects */

.footer-section:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

/* Newsletter form */

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 4px 0 0 4px;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.newsletter-form button:hover {
    background-color: #ff5252;
}

/* Footer bottom */

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #666;
}
