.Navbar{
    border: solid 1px rgb(247, 219, 247);;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 240, 250);
}
.link{
 /* background-color:rgb(234, 220, 234);  */
padding: 10px;
margin: 10px;
/* border: 1px solid purple; */
text-decoration: none;
}